body {
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-family: Lato, sans-serif;
    font-style: italic;
}

.mypicture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00FF00;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: inline-block;

}

h1 {
    color: #FF00FF;
    font-family: Lato, sans-;
    font-style: none;
}

.hidden {
    display: none;
}

li {
    width: 30px;
    height: 30px;
    background-color: #333;
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
}

.selected {
    animation: fadeBlack 1s linear;
}

@keyframes fadeBlack {
    0% {
        background-color: #777
    }
    100% {
        background-color: #000
    }
    ;
}

.mydiv {
    width: 400px;
}

absolute {
    position: absolute;
    top: 85%;
    right: 10%;
    background-color: #00FF00;
}

blue {
    color: #440000;
    background-color: #0000FF;
}

red {
    background-color: #FF0000;
    border-width: 2px;
    border-color: red;
}